*,
::before,
::after {
	@include box-sizing(border-box);
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

[role="main"] {
	position: relative;
	margin-left:0 auto;
	float:none;
	width:100%;
	min-height: 768px;
	min-height: 48rem;
	@include transition(all 0.1s ease-in-out);

}

@include breakpoint(medium) {
	.row {
	    //Negative margin to negate the padding on the first grid child. 
	    margin-left:-1 * ($baseSpacing) +em;
	    // The following declarations allow us to use the .row class on lists.
	    list-style:none;
	    margin-bottom:0;
	}

	// Very infrequently occuring grid wrappers as children of grid wrappers.
	.row > .row {
	    margin-left:0;
	}
}

.col {
	margin-bottom: $baseSpacing +em;

	@include breakpoint(medium) {
		float:left;
		margin-bottom:0;
    	padding-left:$baseSpacing +em;
	}
}

.container {
	
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding: $baseSpacing +em;

	@include breakpoint(medium) { min-width:$mediumViewportWidth; }
	@include breakpoint(xl) { 
		width:$xlargeViewportWidth; 
		padding:0; //kill padding at largest breakpoint
	}

}

.oldie .container {
	width: 960px !important;
}

.oldie .col {
	float:left !important;
	margin-bottom: 0;
	padding-left: $baseSpacing+em;
}